.text {
  transform: scaleX(-1);
  font-size: 3em;
}
.w-100 {
  width: 100%;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.device-link {
  width: 30px;
  height: 30px;
  background-color: var(--c8y-navigator-active-bg);
  transition: all 0.15s;
  cursor: pointer;
}

.device-link:hover {
  opacity: 0.9;
}
